{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur site de reservation !
{% endblock %}


{% block header %}
    <h2>Voici le header</h2>
{% endblock %}


{% block body %}


{% endblock %}